USE [master]
GO
/****** Object:  Database [db_qlcf]    Script Date: 6/12/2021 11:21:27 PM ******/
CREATE DATABASE [db_qlcf]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_qlcf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\db_qlcf.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_qlcf_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\db_qlcf_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_qlcf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_qlcf]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 6/12/2021 11:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[IDBILL] [int] IDENTITY(1,1) NOT NULL,
	[TONGTIEN] [int] NULL,
	[TIENDUA] [int] NULL,
	[TIENTRA] [int] NULL,
	[THOIGIAN] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBILL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 6/12/2021 11:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[IDHD] [int] NOT NULL,
	[IDTU] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[GIATIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC,
	[IDTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/12/2021 11:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[IDHD] [int] IDENTITY(1,1) NOT NULL,
	[TONGTIEN] [int] NULL,
	[THOIGIAN] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[login]    Script Date: 6/12/2021 11:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[id] [nvarchar](10) NOT NULL,
	[username] [nvarchar](20) NULL,
	[psswd] [nvarchar](20) NULL,
	[permission] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUBBILL]    Script Date: 6/12/2021 11:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBBILL](
	[IDBILL] [int] NOT NULL,
	[IDTU] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[TIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBILL] ASC,
	[IDTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUCUONG]    Script Date: 6/12/2021 11:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCUONG](
	[IDTU] [int] NOT NULL,
	[TEN] [nvarchar](250) NULL,
	[GIATIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BILL] ON 

INSERT [dbo].[BILL] ([IDBILL], [TONGTIEN], [TIENDUA], [TIENTRA], [THOIGIAN]) VALUES (1, 1350000, 2000000, 650000, CAST(0x0000AD43014A2EB8 AS DateTime))
INSERT [dbo].[BILL] ([IDBILL], [TONGTIEN], [TIENDUA], [TIENTRA], [THOIGIAN]) VALUES (2, 140000, 140000, 0, CAST(0x0000AD43014AAA0E AS DateTime))
INSERT [dbo].[BILL] ([IDBILL], [TONGTIEN], [TIENDUA], [TIENTRA], [THOIGIAN]) VALUES (3, 210000, 580000, 370000, CAST(0x0000AD43014B440F AS DateTime))
SET IDENTITY_INSERT [dbo].[BILL] OFF
INSERT [dbo].[CHITIETHOADON] ([IDHD], [IDTU], [SOLUONG], [GIATIEN]) VALUES (1, 1, 1, 10000)
INSERT [dbo].[CHITIETHOADON] ([IDHD], [IDTU], [SOLUONG], [GIATIEN]) VALUES (1, 4, 9, 40000)
INSERT [dbo].[CHITIETHOADON] ([IDHD], [IDTU], [SOLUONG], [GIATIEN]) VALUES (2, 1, 1, 10000)
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([IDHD], [TONGTIEN], [THOIGIAN]) VALUES (1, 370000, CAST(0x0000AD4301839F40 AS DateTime))
INSERT [dbo].[HOADON] ([IDHD], [TONGTIEN], [THOIGIAN]) VALUES (2, 660000, CAST(0x0000AD430184A9A2 AS DateTime))
INSERT [dbo].[HOADON] ([IDHD], [TONGTIEN], [THOIGIAN]) VALUES (3, 1000000, CAST(0x0000AD440160637D AS DateTime))
SET IDENTITY_INSERT [dbo].[HOADON] OFF
INSERT [dbo].[login] ([id], [username], [psswd], [permission]) VALUES (N'001', N'admin', N'admin', 1)
INSERT [dbo].[SUBBILL] ([IDBILL], [IDTU], [SOLUONG], [TIEN]) VALUES (1, 1, 1, 10000)
INSERT [dbo].[SUBBILL] ([IDBILL], [IDTU], [SOLUONG], [TIEN]) VALUES (1, 7, 2, 70000)
INSERT [dbo].[SUBBILL] ([IDBILL], [IDTU], [SOLUONG], [TIEN]) VALUES (1, 13, 1, 130000)
INSERT [dbo].[THUCUONG] ([IDTU], [TEN], [GIATIEN]) VALUES (1, N'TRA', 10000)
INSERT [dbo].[THUCUONG] ([IDTU], [TEN], [GIATIEN]) VALUES (2, N'TRA VAI', 20000)
INSERT [dbo].[THUCUONG] ([IDTU], [TEN], [GIATIEN]) VALUES (3, N'TRA DAO', 30000)
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([IDHD])
REFERENCES [dbo].[HOADON] ([IDHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([IDTU])
REFERENCES [dbo].[THUCUONG] ([IDTU])
GO
ALTER TABLE [dbo].[SUBBILL]  WITH CHECK ADD FOREIGN KEY([IDBILL])
REFERENCES [dbo].[BILL] ([IDBILL])
GO
ALTER TABLE [dbo].[SUBBILL]  WITH CHECK ADD FOREIGN KEY([IDTU])
REFERENCES [dbo].[THUCUONG] ([IDTU])
GO
USE [master]
GO
